NorthwindTraders.MVC5/Service References/NorthwindServiceClasses/NorthwindService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NorthwindService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56535/NorthwindService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56535/NorthwindService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56535/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindTraders.WCF.DTOS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindContract_ReadAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllCategories" />
  </wsdl:message>
  <wsdl:message name="INorthwindContract_ReadAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindContract_ReadProductsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProductsByCategory" />
  </wsdl:message>
  <wsdl:message name="INorthwindContract_ReadProductsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProductsByCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindContract">
    <wsdl:operation name="ReadAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindContract/ReadAllCategories" message="tns:INorthwindContract_ReadAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindContract/ReadAllCategoriesResponse" message="tns:INorthwindContract_ReadAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadProductsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindContract/ReadProductsByCategory" message="tns:INorthwindContract_ReadProductsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindContract/ReadProductsByCategoryResponse" message="tns:INorthwindContract_ReadProductsByCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INorthwindContract" type="tns:INorthwindContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadAllCategories">
      <soap:operation soapAction="http://tempuri.org/INorthwindContract/ReadAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadProductsByCategory">
      <soap:operation soapAction="http://tempuri.org/INorthwindContract/ReadProductsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthwindService">
    <wsdl:port name="BasicHttpBinding_INorthwindContract" binding="tns:BasicHttpBinding_INorthwindContract">
      <soap:address location="http://localhost:56535/NorthwindService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>