NorthwindTraders.MVC5/Service References/NorthwindServiceClasses/NorthwindService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56535/NorthwindService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthwindTraders.WCF.DTOS" />
  <xs:element name="ReadAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthwindTraders.WCF.DTOS" minOccurs="0" name="ReadAllCategoriesResult" nillable="true" type="q1:ArrayOfCategory_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthwindTraders.WCF.DTOS" minOccurs="0" name="ReadProductsByCategoryResult" nillable="true" type="q2:ArrayOfProduct_DTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>