NorthwindTraders.MVC5/Service References/NorthwindServiceClasses/NorthwindService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NorthwindTraders.WCF.DTOS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NorthwindTraders.WCF.DTOS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategory_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category_DTO" nillable="true" type="tns:Category_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory_DTO" nillable="true" type="tns:ArrayOfCategory_DTO" />
  <xs:complexType name="Category_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category_DTO" nillable="true" type="tns:Category_DTO" />
  <xs:complexType name="ArrayOfProduct_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product_DTO" nillable="true" type="tns:Product_DTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct_DTO" nillable="true" type="tns:ArrayOfProduct_DTO" />
  <xs:complexType name="Product_DTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product_DTO" nillable="true" type="tns:Product_DTO" />
</xs:schema>